.Navigation-Header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.Navigation-Header ul li {
  float: left;
}
.Navigation-Header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Navigation-Header ul li a:hover:not(.active) {
  background-color: #111;
}
.Navigation-Header .active {
  background-color: #04AA6D;
}
